---
name: Rego rule test evidence
about: This template will contains Rego rule test evidence
title: Rego rule test evidence of <rego rule id>
labels: ''
assignees: ''

---

**Expected Test evidence (please provide the following information)**

1. Prancer cli output of passed scenario: '....'
2. prancer cli output of failed scenario: '....'
3. URL of the respective template: '...'
4. Template snapshot used to test rego rule: '....'

**Screenshots (Optional)**
If applicable, add screenshots of the pass/fail scenario.
